body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: hsl(36, 67%, 86%);
}

header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-glass {
    

    position: sticky;
    top: 20px; /* Floats 20px from the top */
    z-index: 1000;
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px; /* Slightly smaller than body to look floating */
    margin: 0 auto 40px auto; /* Centers the bar */
    padding: 15px 30px;
    
    /* The Glass Effect */
    background: rgba(255, 255, 255, 0.25); /* Semi-transparent white */
    backdrop-filter: blur(12px); /* The blur magic */
    -webkit-backdrop-filter: blur(12px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.4);
    
    /* Shape & Shadow */
    border-radius: 50px; /* The Pill Shape */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
}

/* .logo {
    font-weight: 800;
    font-size: 1.2rem;
    color: #333;
    letter-spacing: -0.5px;
} */


.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #444;
    font-weight: 600;
    font-size: 0.95rem;
    position: relative;
    transition: all 0.3s ease;
}

/* Cool Hover Effect: Text slides up slightly and changes color */
.nav-links a:hover {
    color: #e7b84b; /* Your gold color */
    transform: translateY(-2px);
    display: inline-block;
}


nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #007AFF;
    font-weight: bold;
}

section {
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.573);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

h1, h2, h3 {
    color: #111;
}

.profile-img {
    width: 170px;
    height: 200px;
    border-radius: 60px;
    display: block;
    margin: 0 auto 15px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

.links a {
    display: inline-block;
    background: #111;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
}

.links a:hover {
    background: #444;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    color: #777;
    margin-top: 50px;
}