body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: hsl(36, 67%, 86%);
}

header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem; 
    padding: 8px;
    background-color: #e7b84b;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky; 
    top: 0;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
    margin-right: 30px;

}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size:larger;
    font-weight: 500;
    transition: color 0.2s ease; 
}

.nav-links a:hover {
    color: #a4b0ff; 
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #007AFF;
    font-weight: bold;
}

section {
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.573);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

h1, h2, h3 {
    color: #111;
}

.profile-img {
    width: 170px;
    height: 200px;
    border-radius: 60px;
    display: block;
    margin: 0 auto 15px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

.links a {
    display: inline-block;
    background: #111;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
}

.links a:hover {
    background: #444;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    color: #777;
    margin-top: 50px;
}